
  footer{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(32, 30, 28);
    color:azure;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    position:sticky;
  }
  li{
    justify-content: space-evenly;
    display: table-column;
  }