ul{
    display: flex;
    margin: 0;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(32, 30, 28);
    color:azure;
    margin:0px;
    padding: 25px;
    top:0px;
    position:sticky;

  }
  
  
  .link {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color:azure;
  }
  
  .link:hover {
      /* background-color: white; */
      color: rgb(42, 184, 75);
    }